{{% BLOCKS }}
{{< base }}

{{$ title }}{{ title }}{{/ title }}

{{$ content}}
<div class="woocommerce  push-down-30">
  <div class="container">
    <div class="row">
      <div class="col-xs-12  push-down-30">
        <h3>Your cart is empty</h3>
      </div>
    </div>
    <hr class="divider">
  </div>
</div>

{{/ content}}

{{/ base }}