{{% BLOCKS }}
{{< base }}

{{$ title }}Favorites{{/ title }}

{{$ content}}
    <h3>Your favorites: </h3>

    {{# products }}
        {{> modules/product_card }}
    {{/ products }}
{{/ content}}

{{/ base }}