{{% BLOCKS }}
{{< base }}

{{$ title }}Home{{/ title }}

{{$ content}}
    <div id="products"></div>
    <div id="cart"></div>

    {{# favorite_products}}
        <h3>Your favorite products: </h3>
        <div>
            {{# favorite_products }}
                {{> modules/product_card }}
            {{/ favorite_products }}
            <div class="clearfix"></div>
        </div>
    {{/ favorite_products}}

    <h3>Here are some random products: </h3>
    <div>
        {{# random_products }}
            <div id="{{ pr_sku }}"></div>
        {{/ random_products }}
        <div class="clearfix"></div>
    </div>

    <script type="text/javascript">
        var products = {{{ random_products_json }}}
    </script>

{{/ content}}

{{/ base }}