{{% BLOCKS }}
{{< base }}

{{$ title }}View Order{{/ title }}

{{$ content}}
    <div class="container  push-down-30">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="center"><span class="light">Order</span> #{{ order.or_id }}</h1>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th class="product-remove"></th>
                            <th class="product-thumbnail"></th>
                            <th class="product-name">Product</th>
                            <th class="product-price">Price</th>
                            <th class="product-quantity">Quantity</th>
                            <th class="product-subtotal">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{# products }}
                        {{> modules/cart_product_row }}
                    {{/ products }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{/ content}}

{{/ base }}